version: '2'
services:
  db:
    image: postgres:9.3
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=default
    ports:
      - "5432:5432"
    hostname: db
  app:
    image: play-scala-tutorials:0.1-SNAPSHOT
    links:
      - db
    ports:
      - "9000:9000"