@(accountForm: Form[models.AccountFormData])(implicit messages: Messages)
@import helper._
@import models.Role

@main("Accounts"){
    <div class="col-lg-6">
        <div class="well bs-component">
            @form(routes.Application.addAccount(), 'class -> "form-inline") {
                <fieldset>
                    <legend>New Account</legend>
                    <div class="form-group">
                        <div class="col-lg-10">
                            @inputText(accountForm("Email"), 'class -> "form-control", 'placeholder -> "Email")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            @inputPassword(accountForm("Password"), 'class -> "form-control", 'placeholder -> "Password")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            @inputText(accountForm("Name"), 'class -> "form-control", 'placeholder -> "Name")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            @select(accountForm("Role"), options(List(Role.Administrator.toString, Role.NormalUser.toString)), 'class -> "form-control")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
}