@* header Template File *@
@(param: Any)

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">play-scala-bootstrap-slick-psql</a>
      <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a target="_blank" href="https://github.com/wpieters/play-scala-bootstrap-slick-psql">github</a></li>
        <li><a target="_blank" href="https://twitter.com/duhblinnza">twitter</a></li>
      </ul>
    </div>
  </div>
</div>
